body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    font-family: sans-serif;
}

#taso1 {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.otsikko {
    display: inline;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.lead {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: inline;
}

.logo {
    height: 200px;
    width: 200px;
}

.popup-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    height: 80%;
    max-height: 600px;
    background: rgb(112,40,42);
    background: linear-gradient(110deg, rgba(112,40,42,1) 0%, rgba(131,69,71,1) 97%);
    border: 2px solid #C7AE6A;
    padding: 20px;
    z-index: 9999;
    overflow-y: auto;
    text-align: left;
    box-sizing: border-box;
}

.popup ul {
    list-style-type: none;
    padding: 0;
}

.popup ul li {
    margin-bottom: 10px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: darkred;
    font-size: 3em; 
    padding: 10px; 
}

.myImg img {
    transition: 0.3s ease;
}

.myImg:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    transition: 0.3s ease;
}

.menu-item {
    color: #C7AE6A;
    font-size: 1.3em; 
}
.nav-link {
    font-size: 3em;
}
.imgcontainer{
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-image: url(../img/hengfeng_ravintola.jpg);
    background-attachment: fixed;
}
@media only screen and (max-width: 600px) { 
    iframe {

        width:325px;
        height:225px;
    }

}
