
body {
    margin: 0;
    font-family: sans-serif;
}
.aukioloAjat {
    justify-items: center;
    margin: auto;
    width: 300px;
    height: 340px;
    padding: 40px 60px;
    background-color: hsl(0, 0%, 70%);
    border-radius: 15px;
}
.tietoaMeistä {
    width: 60%;
    margin: auto;
    padding: 40px 60px;
}
footer {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    padding: 100px;
    width: 100%;
    background-color: hsl(0, 0%, 70%);
}
.footerLogo {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
}