
body {
    font-family: sans-serif;
}
.aukioloajat {
    background-color: hsl(0, 0%, 40%);
    text-align: center;
}
.tietoaMeistä {
    text-align: center;
}
footer {
    padding: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: hsl(0, 0%, 70%);
}