
body {
    margin: 0;
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
#taso1{
    background-image: url(../menu/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.otsikko {
    display: inline;
    background-color:rgba(0, 0, 0, 0.5);
    color:#fff;
}

.lead {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: inline;
}
.imgcontainer{
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-image: url("etusivu_kuvat/hengfeng_ravintola.jpg");
    background-attachment: fixed;
}

/*css aukioloajat */

.aukioloajat {
    font-size: 1.2rem;
    position: relative;
    margin: 145px auto;
    color: #252525;
    width: 455px;
    height: 510px;
    padding: 40px 60px;
    border: #252525 solid 2px;
    border-radius: 25px;
}
.slider-container {
    z-index: initial;
    background: linear-gradient(90deg, rgb(0, 0, 0) 16%, #ffffff00 25%,  #ffffff00 75%, rgb(0, 0, 0) 84%);
    position: relative;
    height: 100%;
}
.avoinna, .buffetti {
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    padding-bottom: 24px;
    text-align: center;
    top: 30px;
    border-bottom: #252525 solid 2px;
}
.avoinna {
    top: 20%;
}
.buffetti {
    top: 54%;
}
.navigaatio {
    margin: auto;
    width: 73%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
}
.slider {
    display: flex;
    height: 100%;
    width: 700%;
    flex-shrink: 0;
    transition: all 0.5s;
}
.slider section {
    flex-basis: 14.28%;
    width: 14.28%;
    flex-shrink: 0;
    flex: 1;
}
.slider h3 div {
    z-index: -1;
    position: relative;
}
.karusellinnäkymä {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
}
.päivät {
    grid-row: 1;
}
.kellonajat {
    grid-row: 4;
}
.buffeiajat {
    grid-row: 7;
}
.arrow {
    z-index: 3;
    position: absolute;
    top: 0.5px;
    cursor: pointer;
}
.arrow:hover {
    color: #2525256b;
}
.arrow.prev {
    left: 16px;
}
.arrow.next {
    right: 16px;
}
.tietoameistä {
    font-size: 1.3rem;
    width: 55%;
    margin: auto;
    margin-bottom: 95px;
}

/* css for footer*/

footer {
    background-color: rgb(40, 31, 31);
}
.footercontainer {
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    width: 100%;
}
.footerlogo {
    width: 250px;
    height: 75px;
    grid-column: 2;
    grid-row: 2;
}
.Yhteystietocontainer {
    grid-column: 4 / 6;
    grid-row: 2;
}
.kartta {
    grid-column: 7 / 10;
    grid-row: 2;
}
@media only screen and (max-width: 1180px) {
    .footercontainer {
        grid-template-columns: repeat(8, 1fr);
        row-gap: 40px;
    }
    .Yhteystietocontainer {
        grid-column: 5 / 8;
        grid-row: 2;
    }
    .kartta {
        grid-column: 2 / 8;
        grid-row: 3 / 5;
    }
    .imgcontainer{
        height: 334px;
    }
}
@media only screen and (max-width: 600px) {
    .footercontainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        row-gap: 65px;
        padding: 62px;
    }
    .imgcontainer{
        height: 284px;
    }
    .aukioloajat {
        height: 500px;
        width: 74%;
        padding: 40px 25px;
    }
    .tietoameistä {
        font-size: 0.9rem;
        width: 80%;
    }
}
.footerbottom {
    display: grid;
    place-items: center;
    align-items: center;
    color: rgb(80, 80, 80);
    width: 100%;
    height: 75px;
    margin-top: 103px;
}
.sijainti {
    padding-bottom: 5px;
}